//Variables
$primary-color: rgba(220,20,10,255);
$background-color: #fff;
$secondary-color: #f5f5f5;
$border-color: #eaeaea;
$border-color-dark: #d3d3d3;
$text-color: #373131;
$text-color-secondary: #8f9395;
$rating-color: #feb42b;
$border-radius: 4px;

//Fonts
$base-font-size: 1.5rem;
$small-font-size: 1.3rem;
$tiny-font-size: 1.2rem;
$mini-font-size: 1.1rem;
$large-font-size: 2.2rem;

// Breakpoints
$tablet: 768px;
$desktop: 992px;

// Mixins
@mixin responsive($breakpoint) {
    @if $breakpoint == tablet {
        @media (min-width: $tablet) {
            @content;
        }
    } 
    @else if $breakpoint == desktop {
        @media (min-width: $desktop) {
            @content;
        }
    }
}

@mixin justifyFlex($justify: center) {
    display: flex;
    justify-content: $justify;
}

@mixin alignFlex($align: center) {
    display: flex;
    align-items: $align;
}

// Reset and base styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: $base-font-size;
  line-height: 1.6;
  color: $text-color;
}

img {
    display: block;
    max-width: 100%;
}

h2 {
    color: $primary-color;
    font-size: $large-font-size;
}

h3 {
    font-size: $small-font-size;
}

h4 {
    font-size: $mini-font-size;
}

h5 {
    font-size: $tiny-font-size;
}

//utility classes
.u-hide-tablet {
    display: none;

    @include responsive(desktop) {
        display: block;
    }
}

.c-app {
    min-height: 100vh;
    display: flex;
}

.c-main {
    background-color: $primary-color;
    flex: 1;
}

// Container
.o-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;

  @include responsive(desktop) {
    max-width: 1400px;
  }
}

.o-button {
    border: none;
    background-color: transparent;
}

//header 
.c-header {
    padding: 1rem;
    @include justifyFlex();

    @include responsive(desktop) {
        display: block;
      }
}

.c-logo {
    text-align: center;
}

.c-page {
    background-color: $background-color;
    padding: 2rem 1rem;
}

.c-hotel-page {
    display: flex;
    padding: 1rem 0;
}

.c-filter {
    width: 300px;
    padding: 1rem;
    border-radius: $border-radius;
    background-color: $secondary-color;
}

.c-card {
    border: 1px solid $border-color;
    border-radius: $border-radius;
    padding: 0.4rem;

    @include responsive(tablet) {
        display: flex;
    }
}

.c-card__container {
    flex: 1;
    margin-left: 2rem;
}

.c-card__image {
    height: 200px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2px;

    @include responsive(tablet) {
        width: 400px;
    }
}

.c-card__detail {
    @include justifyFlex(space-between);
    flex: 1;
}

.c-card__info {
    padding: 1rem;
}

.c-card__price {
    background-color: $secondary-color;
    width: 150px;
    justify-content: flex-end;
    display: flex;
    padding: 2rem 1rem 0 0;
    font-size: 2.2rem;
    font-weight: bold;
    margin-right: 0.5rem;
}

.c-card__text {
    font-size: $mini-font-size;
    color: $text-color-secondary;

    &-type {
        font-weight: bold;
    }
}

.c-card__rating {
    display: flex;
    margin: 0.8rem 0;
}

.c-card__diamonds {
    width: 8px;
    height: 8px;
    background-color: $rating-color; 
    transform: rotate(45deg);
    display: inline-block;
    margin-right: 6px;

    &--half {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            transform: rotate(-90deg);
            width: 0px;
            height: 0;
            border-bottom: 9px solid $background-color;
            border-left: 10px solid transparent;
        }
    }
}

.c-filter__title {
    padding: 0 1rem;
}

.c-filter-section {
    border-top: 1px solid $border-color;
    padding-top: 1rem;
    margin-top: 1rem;
}

.c-filter-section__search {
    border: 1px solid $border-color-dark;
    display: flex;

    input {
        border: none;
    }
}

.c-filter-section__button {
    padding: 1.2rem 2rem;
    height: 4rem;
    border-left: 1px solid $border-color;
}

.c-input {
    padding: 1rem;
    height: 4rem;
    border: 1px solid $border-color;
    width: 100%;
}

.c-input__container {
    width: 100%;
}

.c-accordion__icon {
    width: 0;
    height: 0;
    border-top: 4px solid $text-color-secondary;;
    border-bottom: 4px solid transparent;
    display: inline-block;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    margin-right: 0.5rem;
}

.c-accordion__header {
    @include alignFlex();
    padding-bottom: 1.6rem;
    width: 100%;
}

.c-accordion__title {
    color: $text-color-secondary;
}

.c-accordion__content {
    padding: 0 1.2rem;
}