//Variables
$primary-color: rgba(220,20,10,255);
$background-color: #fff;
$secondary-color: #f5f5f5;
$border-color: #eaeaea;
$border-color-dark: #d3d3d3;
$border-checkbox: #333;
$text-color: #373131;
$text-color-secondary: #8f9395;
$rating-color: #feb42b;
$border-radius: 4px;
$checkbox-color: #000;
$checbox-icon-color: #fff;
$button-color: green;

//Fonts
$base-font-size: 1.5rem;
$small-font-size: 1.3rem;
$tiny-font-size: 1.2rem;
$mini-font-size: 1.1rem;
$large-font-size: 2.2rem;

// Breakpoints
$tablet: 768px;
$desktop: 992px;

// Mixins
@mixin responsive($breakpoint) {
    @if $breakpoint == tablet {
        @media (min-width: $tablet) {
            @content;
        }
    } 
    @else if $breakpoint == desktop {
        @media (min-width: $desktop) {
            @content;
        }
    }
}

@mixin justifyFlex($justify: center) {
    display: flex;
    justify-content: $justify;
}

@mixin alignFlex($align: center) {
    display: flex;
    align-items: $align;
}

@mixin flexCenter() {
    display: flex;
    align-items: center;
    justify-content: center;
}

// Reset and base styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: $base-font-size;
  line-height: 1.6;
  color: $text-color;
}

a {
    text-decoration: none;
    color: $text-color;

    &:active {
        color: $text-color
    }
}

img {
    display: block;
    max-width: 100%;
}

h2 {
    color: $primary-color;
    font-size: $large-font-size;
}

h3 {
    font-size: $small-font-size;
}

h4 {
    font-size: $mini-font-size;
}

h5 {
    font-size: $tiny-font-size;
}

.c-app {
    min-height: 100vh;
    display: flex;
}

.c-main {
    background-color: $primary-color;
    flex: 1;
}

// Objects
.o-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;

  @include responsive(desktop) {
    max-width: 1400px;
  }
}

.o-button {
    border: none;
    background-color: transparent;
}


.o-diamond {
    width: 7px;
    height: 7px;
    background-color: $rating-color; 
    transform: rotate(45deg);
    display: inline-block;
    margin-right: 6px;

    &--half {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            transform: rotate(-90deg);
            width: 0px;
            height: 0;
            border-bottom: 9px solid $background-color;
            border-left: 10px solid transparent;
        }
    }
}

//header 
.c-header {
    padding: 1rem;
    @include justifyFlex();

    @include responsive(tablet) {
        display: block;
      }
}

.c-logo {
    text-align: center;
}

.c-page {
    background-color: $background-color;
    padding: 2rem 1rem;
}

.c-hotel-page {
    display: flex;
    padding: 1rem 0;
}

.c-hotel-page__content {
    width: 100%;
}

.c-hotel-page__content {
    @include responsive(desktop) {
        flex: 1;
        margin-left: 2rem;
    }
}

.c-hotel-page__filter {
    display: none;

    @include responsive(desktop) {
        display: block;
    }
}

.c-card {
    border: 1px solid $border-color;
    border-radius: $border-radius;
    padding: 0.4rem;

    @include responsive(tablet) {
        display: flex;
    }
}

.c-card__image {
    height: 200px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2px;

    @include responsive(tablet) {
        width: 400px;
    }
}

.c-card__detail {
    @include justifyFlex(space-between);
    flex: 1;
}

.c-card__info {
    padding: 1rem;
    width: 65%;

    @include responsive(desktop) {
        width: 75%;
    }
}

.c-card__price {
    background-color: $secondary-color;
    width: 120px;
    padding: 0 1rem 0 0;
    align-items: center;
    font-size: 2.2rem;
    font-weight: bold;
    @include justifyFlex(flex-end);

    @include responsive(tablet) {
        width: 150px;
        align-items: normal;
        padding: 2rem 1rem 0 0;
    }

    @include responsive(desktop) {
        margin-right: 0.5rem;
    }
}

.c-card__right {
    display: flex;
}

.c-card__button {
    width: 38px;
    background-color: $button-color;
    @include flexCenter();

    span {
        border-right: 5px solid white;
        border-top: 5px solid transparent;
        border-left: 5px solid transparent;
        border-bottom: 5px solid white;
        margin-left: -5px;
        transform: rotate(-45deg);
    }

    @include responsive(tablet) {
        display: none;
    }
}

.c-card__text {
    display: none;

    
    @include responsive(tablet) {
        font-size: $mini-font-size;
        color: $text-color-secondary;
        display: block;
    
        &-type {
            font-weight: bold;
        }
    }
}

.c-card__rating {
    display: flex;
    margin: 0.8rem 0;
}


.c-filter {
    width: 300px;
    padding: 1rem;
    border-radius: $border-radius;
    background-color: $secondary-color;
}

.c-filter__title {
    padding: 0 1rem;
}

.c-filter-section {
    border-top: 1px solid $border-color;
    padding: 1.4rem 0.5rem;
    margin-top: 1rem;
}

.c-filter-section__search {
    border: 1px solid $border-color-dark;
    display: flex;

    input {
        border: none;
    }
}

.c-filter-section__button {
    padding: 1.2rem 2rem;
    height: 4rem;
    border-left: 1px solid $border-color;
}

.c-input {
    padding: 1rem;
    height: 4rem;
    border: 1px solid $border-color;
    width: 100%;
}

.c-input__container {
    width: 100%;
}

.c-checkbox {
    margin-bottom: 1rem;

    input {
        appearance: none;

        &:checked ~ .c-checkbox__icon {
            background-color: $checkbox-color;

            &::after {
                border-color: $checbox-icon-color;
            }
        }
    }
}

.c-checkbox__text {
    font-size: $mini-font-size;
}

.c-checkbox__label {
    @include alignFlex();
}

.c-checkbox__icon {
    width: 18px;
    height: 18px;
    border: 1px solid $border-checkbox;
    border-radius: 2px;
    margin-right: 1rem;
    position: relative;
    background-color: transparent;
    transition: background-color 0.3s;

    &::after {
        content: "";
        position: absolute;
        border-color: transparent;
        border-width: 0 3px 3px 0;
        border-style: solid;
        width: 3px;
        height: 8px;
        transform: rotate(45deg);
        left: 5px;
        top: 2px;
        transition: border-color 0.3s;
    }
}

.c-accordion__icon {
    width: 0;
    height: 0;
    border-bottom: 4px solid $text-color-secondary;;
    border-top: 4px solid transparent;
    display: inline-block;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    margin-right: 0.5rem;
    margin-top: -0.5rem;
    transition: transform 0.3s ease;

    &--expand {
        transform: rotate(180deg);
        margin-top: 0.4rem;
    }
}

.c-accordion__header {
    @include alignFlex();
    padding-bottom: 1.6rem;
    width: 100%;
}

.c-accordion__title {
    color: $text-color-secondary;
}

.c-accordion__content {
    padding: 0 1.2rem;
    animation: slideDown 0.3s ease-out;
}

@keyframes slidedown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.c-hotel-detail__image {
    width: 500px;
}